<div ng-controller='AddMovieController as vm'>
  <form class="well container">

    <label>Movie Title</label>
    <input  required class="form-control" type='text' placeholder="Title" ng-model='vm.movie.title' />

    <label>Genre</label>
    <input  required class="form-control" type='text' placeholder="Genre" ng-model='vm.movie.genre' />

    <label>Release Year</label>
    <input   class="form-control" type='text' placeholder="Release Year" ng-model='vm.movie.year' />

    <label>Actors</label>
    <input  required class="form-control" type='text' placeholder="Actors" ng-model='vm.movie.name' />

    <label>Synopsis</label>
    <input   class="form-control" type='text' placeholder="Synopsis" ng-model='vm.movie.synopsis' />

    <label>Movie Image Url</label>
    <input class="form-control" type='text' placeholder="Movie URL Image" ng-model='vm.movie.image' />

    </div>
        <button ng-click='vm.PostMovie()' class="btn btn-success">Add Movie</button>
    </div>
  </form>
</div>
