<div ng-controller="CommentController as vm">
    <br>
    <div class="well conatiner" style="text-align: center;">
      <div class="row">
        <div class="col-sm-3">
          <img ng-src="{{vm.movie.image}}" ng-alt="{{vm.movie.title}}" class="img-responsive" />

          <div ng-repeat='c in vm.movie.comments'>
            <ul>
              <div class="form-inline">{{c.body}}<span style="margin-left:5px;">{{c.rating}}</span></div>
            </ul>
          </div>

        </div>
        <div class="col-sm-9">
          <h1>Details</h1>
          <h3>{{vm.movie.title}}</h3>
          <h3>{{vm.movie.synopsis}}</h3>
        </div>
      </div>
    </div>
      <br>
      <hr>
      <div class="row">
        <!-- Shows inputs for a user to add a comment -->
        <div class="well container form-inline" ng-show="addingComment" style="text-align: center">
          <input class="form-control" ng-model="vm.comment.body" placeholder="Comment">
          <label>Rating: </label><select class="form-control" ng-model="vm.comment.rating">
            <option value="5">5</option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
          </select>
          <button type="button" class="btn btn-sucess" ng-click="addingComment = false; vm.addComment()">Submit</button>
          <button type="button" class="btn btn-danger" ng-click="addingComment = false;">Cancel</button>
        </div>
        <!-- Shows a button for a user to click on and show the inputs -->
        <div class="well container" ng-show="!addingComment && nav.status.username" style="text-align: center">
          <button type="button" class="btn btn-info" ng-click="addingComment = true;">Add Comment</button>
        </div>
      </div>

</div>
