<div ng-controller="HomeController as vm">
	<div >
		<div>
	<ul class="nav nav-pills">
	<li role="presentation" class="active"><button class="btn btn-success" ui-sref="Landing">Log Out</button></li>
	<li role="presentation"><a ui-sref="Home">Home</a></li>
	<li role="presentation"><a href="#">Profile</a></li>
	</ul>
	</div>
	</div>
	<h1>{{vm.title}}</h1>
<div style="text-align:center">
	<button class="btn btn-primary well container" ui-sref='AddMovie'><h3>Add Movie</h3></button>
</div>
<div ng-repeat='m in vm.movie'  style="background-color:lightgrey;color:black;"class="well container">
	<img ng-click='vm.toggleCustom()' ng-src="{{m.image}}" class="img-responsive" alt='movie image'/>
	<!-- <span ng-hide='vm.custom'> -->
	<h2>Title: {{m.title}}</h2>
	<h4>Main Actors: {{m.name}}</h4>
	<h5>Release Year: {{m.year}}</h5>
	<h5>Genre: {{m.genre}}</h5>
	<p>Synopsis: {{m.synopsis}}</p>
	<button class="btn btn-warning" ng-click='vm.showEdit = !vm.showEdit' type='button'>Edit</button>
	<!-- </span> -->


<div style="text-align:center" >
<form class="well container" ng-show='vm.showEdit' ng-submit='vm.editMovie(m._id)'>
<label>Movie Title</label>
<input  required class="form-control" type='text' placeholder="{{m.title}}" ng-model='vm.editedmovie.title' />
<label>Genre</label>
<input  required class="form-control" type='text' placeholder="{{m.genre}}" ng-model='vm.editedmovie.genre' />
<label>Release Year</label>
<input   class="form-control" type='text' placeholder="{{m.year}}" ng-model='vm.editedmovie.year' />
<label>Actors</label>
<input  required class="form-control" type='text' placeholder="{{m.name}}" ng-model='vm.editedmovie.name' />
<label>Synopsis</label>
<input   class="form-control" type='text' placeholder="{{m.synopsis}}" ng-model='vm.editedmovie.synopsis' />
<label>Movie Image Url</label>
<input class="form-control" type='text' placeholder="Movie URL Image" ng-model='vm.editedmovie.image' />
<button type="submit" class="btn btn-danger">Save Edit</button>
<button type="button"ui-sref='Home' class="btn btn-warning">Cancel</button>
</form>
</div>
</div>
</div>
