<br>
<form class="well container" ng-submit="vm.loginUser()">
  <h1 style="color:red;text-align:center;font-family:Sans Serif">Sign In</h1>
  <label style="font-family:Ariel;">Username:</label>
  <input class="form-control" required placeholder="Username..." ng-model="vm.user.username">
  <label style="font-family:Ariel;">Password:</label>
  <input type="password" class="form-control" required placeholder="Password..." ng-model="vm.user.password">
  <div style="text-align: center">
    <a ui-sref="Register" class="btn btn-info">Register</a>
    <button type="submit" class="btn btn-primary" ng-disabled="!vm.user.username || !vm.user.password">Login</button><br><br>
    <a ui-sref="Landing" style="color:red">Exit</a>
  </div>
</form>
